* html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    font-size: 11px;
}

body {
    background: #004a70 url(/_gfx/background.png) center -200px no-repeat;
}

a,
a:link,
a:visited {
    color: #FFF;
}
a:hover,
a:active {
    color: #F00;
}

#page {
    margin: 0 auto;
    width: 1100px;
}

#top {
    float: left;
    clear: both;
    height: 200px;
    width: 1122px;
}

#logo {
    height: 90px;
}

#topmenu {
    list-style: none;
    height: 55px;
    width: 1122px;
    padding: 0px;
    margin: 0px;
    position: relative;
}
    #topmenu li {
        float: left;
        min-width: 100px;
        height: 47px;
        position: relative;
    }
        #topmenu li a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 31px;
            padding-top: 16px;
            text-align: center;
            font-size: 14px;
            text-shadow: 0px 4px 8px rgba(0,0,0,.7);
        }
        #topmenu li a:hover {
            color: #F00;
            /*background: url(/_gfx/menu-bg-hover.png) repeat-x;*/
        }
        
    #topmenu li.list-item-login {
        float: right;
        padding-top: 15px;
        margin-right: 10px;
    }
    #topmenu li.right {
        float: right;
    }

#menu {
    float: left;
    width: 198px;
    min-height: 200px;
    margin-right: 20px;
}
    #menu ul {
        padding: 0px;
        list-style: none;
    }
        #menu ul li {
            border-bottom: 1px solid #AAA;
            float: left;
        }
        
        #menu ul li a {
            display: block;
            text-decoration: none;
            color: #FFF;
            width: 178px;
            padding: 5px 10px;
        }
        #menu ul li a:hover {
            background: url(/_gfx/transparent-white-bg.png);
            color: #333;
        }

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #000 url(/_gfx/footer-bg.png) top repeat-x;
    height: 20px;
    width: 100%;
    color: #AAA;
    text-align: center;
    padding-top: 80px;
}

#content {
    float: left;
    width: 1120px;
    padding-top: 10px;
    color: #F5F5F5;
    padding-bottom: 100px;
    min-height: 1000px;
}

#mainContent {
    float: left;
    width: 868px;
}

.m-left10 {
    margin-left: 10px;
}

.login-form-email,
.login-form-password {
    padding: 5px;
    border-radius: 5px;
    height: 12px;
    border: 1px solid #999;
    margin-right: 5px;
    -webkit-box-shadow: 0px 0px 0px, 0px 4px 8px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
    box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
}

.login-form-email {
    background: url(/_gfx/login-form-email-bg.png) -5px 0px no-repeat #FFF;
}
.login-form-password {
    background: url(/_gfx/login-form-password-bg.png) -5px 0px no-repeat #FFF;
}
.login-form-email.no-bg,
.login-form-password.no-bg {
    background: #FFF;
}

.button {
    min-width: 75px;
    border: 1px solid #666;
    font-weight: bold;
    height: 22px;
    display: inline-block;
    color: #444;
    background: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px, 0px 4px 8px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
    box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
}

.hidden {
    display: none;
}

#brand-overlay {
    position: absolute;
    top: 47px;
    left: -101px;
    height: 300px;
    width: 1122px;
    background: url(/_gfx/transparent-white-bg.png);
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    #brand-overlay ul {
        list-style: none;
        margin: 0px;
    }
        #brand-overlay ul li {
            float: left;
            width: 100px;
            height: 50px;
            padding-top: 10px;
        }
        
.staff-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
    .staff-list section {
        float: left;
        clear: both;
    }
    .staff-list section div {
        float: left;
    }
    .staff-list section div.description {
        width: 400px;
        margin-left: 20px;
    }
    .staff-list h3 {
        margin: 0px;
    }
    .staff-list h5 {
        margin: 0px;
        font-weight: normal;
        font-style: italic;
    }

fieldset {
    border: none;
    margin-bottom: 10px;
    float: left;
    border-top: 1px solid #999;
    padding: 10px 10px 0px 0px;
}
    fieldset legend {
        border: 1px solid #999;
        padding: 5px;
        border-radius: 5px;
    }

.form-element {
    float: left;
    clear: both;
    margin-bottom: 20px;
}

    .form-element input {
        width: 300px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #AAA;
    }
    .form-element label {
        display: block;
        min-width: 200px;
        font-weight: bold;
    }
    .form-element input.submit {
        width: auto;
        padding: 5px 10px;
        float: right;
    }
    .form-element.checkbox input, 
    .form-element.checkbox label {
        display: inline;
        width: auto;
    }