* html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    font-size: 14px;
}

body {
    background: url(/_gfx/turtle.jpg) 100% no-repeat fixed #004a70;
    color: #333;
}

a,
a:link,
a:visited {
    color: #333;
}
a:hover,
a:active {
    color: #F00;
}

#page {
    margin: 0 auto;
    width: 1100px;
}

#top {
    position: relative;
    z-index: 100;
    height: 143px;
    width: 1120px;
    background: #ededed;
}

#logo {
    height: 143px;
    background: url(/_gfx/top-bg.jpg) no-repeat;
    border-bottom: 2px solid #333;
    position:relative;
}

    #logo img.logo {
        height: 143px;
        margin-left: 20px;
        position: relative;
        z-index:10;
    }
    #logo .social-media {
        float: right;
        margin-top: 70px;
    }
#topmenu {
    list-style: none;
    height: 55px;
    width: 1120px;
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: 0px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #1d83d6 48%, #207cca 50%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(48%,#1d83d6), color-stop(50%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#1d83d6 48%,#207cca 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#1d83d6 48%,#207cca 50%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#1d83d6 48%,#207cca 50%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#1d83d6 48%,#207cca 50%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #333;
}
    #topmenu li {
        float: left;
        padding: 0px 10px;
        height: 55px;
        position: relative;
    }
        #topmenu li a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 31px;
            padding-top: 16px;
            text-align: center;
            font-size: 14px;
            border-right: 1px solid #333;
            padding-right: 10px;
            margin-top: 5px;
/*            text-shadow: 0px 4px 8px rgba(0,0,0,.7);*/
        }
        #topmenu li:hover {
            color: #F00;
            background: #7db9e8; /* Old browsers */
            background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 50%, #1d83d6 52%, #1e5799 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#207cca), color-stop(52%,#1d83d6), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 50%,#1d83d6 52%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 50%,#1d83d6 52%,#1e5799 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 50%,#1d83d6 52%,#1e5799 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 50%,#1d83d6 52%,#1e5799 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
            
        }
        
    #topmenu li.list-item-login {
        float: right;
        padding-top: 15px;
        margin-right: 10px;
        height: 40px;
    }
    #topmenu li.list-item-login:hover {
        background: none;
    }
    #topmenu li.right {
        float: right;
    }

.top-right-menu {
    float: right;
    width: 1114px;
    background: url(/_gfx/main-bg.png) repeat;
    padding: 3px;
    position:absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
    .top-right-menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
        .top-right-menu ul li {
            padding: 0px 10px;
            display: inline-block;
        }
            .top-right-menu ul li a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
            }

#menu {
    float: left;
    width: 198px;
    min-height: 200px;
    margin-right: 20px;
}
    #menu ul {
        padding: 0px;
        list-style: none;
    }
        #menu ul li {
            border-bottom: 1px solid #AAA;
            float: left;
        }
        
        #menu ul li a {
            display: block;
            text-decoration: none;
            color: #333;
            width: 178px;
            padding: 5px 10px;
        }
        #menu ul li a:hover {
            background: url(/_gfx/transparent-white-bg.png);
            color: #666;
        }

#footer {
    height: 20px;
    width: 100%;
    color: #333;
    text-align: center;
    padding-top: 20px;
    float:left;
    clear:both;
}

#content {
    float: left;
    width: 1120px;
    padding-top: 10px;
    background: url(/_gfx/main-bg.png) repeat;
}

#mainContent {
    float: left;
    width: 868px;
}

#fullContent {
    float: left;
    padding: 20px 0px 0px 33px;
}

.m-left10 {
    margin-left: 10px;
}

.login-form-email,
.login-form-password {
    padding: 5px;
    border-radius: 5px;
    height: 12px;
    border: 1px solid #999;
    margin-right: 5px;
    -webkit-box-shadow: 0px 0px 0px, 0px 4px 8px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
    box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
}

.login-form-email {
    background: url(/_gfx/login-form-email-bg.png) -5px 0px no-repeat #FFF;
}
.login-form-password {
    background: url(/_gfx/login-form-password-bg.png) -5px 0px no-repeat #FFF;
}
.login-form-email.no-bg,
.login-form-password.no-bg {
    background: #FFF;
}

.button {
    min-width: 75px;
    border: 1px solid #666;
    font-weight: bold;
    /*height: 22px;*/
    display: inline-block;
    color: #444;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 5px 10px;
}
.button:hover {
    background: #EEE;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 0px, 0px 4px 8px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
    box-shadow: 0px 0px 0px rgba(219,31,5,1), 0px 4px 8px rgba(0,0,0,.7);
}

.hidden {
    display: none;
}

#topmenu #brand-overlay.overlay {
    position: absolute;
    top: 50px;
    left: -92px;
    height: 300px;
    width: 1100px;
    /*background: url(/_gfx/transparent-white-bg.png);*/
    background: #f5f5f5;
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 5px #444;
    z-index: 1000;
    padding-bottom: 20px;
}
    #topmenu #brand-overlay.overlay ul {
        list-style: none;
        margin: 0px;
    }
        #topmenu #brand-overlay.overlay ul li {
            float: left;
            width: 100px;
            height: 50px;
            padding-top: 10px;
        }
        #topmenu #brand-overlay.overlay ul li:hover {
            background: none;
        }    
            #topmenu #brand-overlay.overlay ul li a {
                color: #333;
                border: 0px;
            }

#topmenu .overlay {
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 5px #444;
    z-index: 1000;
    padding-bottom: 20px;
    height: auto;
    white-space: nowrap;
    padding: 10px;
}
    #topmenu .overlay ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
        #topmenu .overlay ul li {
            width: auto;
            height: auto;
            margin: 0px;
            padding: 0px;
            float: none;
            padding-top: 10px;
        }
        #topmenu .overlay ul li:hover {
            background: none;
        }    
            #topmenu .overlay ul li a:hover {
                text-decoration: underline;
                color: #600;
            }
            #topmenu .overlay ul li a {
                color: #333;
                border: 0px;
                font-size: 12px;
                text-shadow: none;
                width: auto;
                height: auto;
                padding: 0px;
                text-align: left;
            }

#topmenu #category-overlay {
    left: -1px;
    height: auto;
    width: 1100px;
}
    #topmenu #category-overlay ul li {
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        float: none;
    }
    #topmenu #category-overlay ul li.parentCat {
        float: left;
        min-width: 200px;
    }
        #topmenu #category-overlay ul li.parentCat.clear {
            clear: left;
        }
        #topmenu #category-overlay ul li ul {
            margin: 0px;
            padding: 0px;
        }
        #topmenu #category-overlay ul li a {
            font-size: 11px;
            text-shadow: none;
            width: auto;
            height: auto;
            padding: 0px;
            text-align: left;
        }
   
.staff-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
    .staff-list section {
        float: left;
        clear: both;
    }
    .staff-list section div {
        float: left;
    }
    .staff-list section div.description {
        width: 400px;
        margin-left: 20px;
    }
    .staff-list h3 {
        margin: 0px;
    }
    .staff-list h5 {
        margin: 0px;
        font-weight: normal;
        font-style: italic;
    }

.product-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
    .product-list section {
        float: left;
        width: 254px;
        margin-right: 15px;
        height: 300px;
    }
    .product-list .image {
        width: 250px;
        height: 210px;
    }
        .product-list .image img {
            border: 1px solid #333;
            border-radius: 3px;
        }
        
    .product-list .product-link {
        display: inline-block;
        width: 190px;
        color: #FEFEFE;
    }
    .product-list .product-link:hover {
        color: #FFF;
    }

.pagination {
    width: 100%;
    text-align: center;
}

fieldset {
    border: none;
    margin: 0px 0px 10px 0px;
    float: left;
    border-top: 1px solid #999;
    padding: 10px 20px 0px 0px;
}
    fieldset legend {
        border: 1px solid #999;
        padding: 5px;
        border-radius: 5px;
    }

.form-element {
    float: left;
    clear: both;
    margin-bottom: 20px;
}
    .form-element textarea,
    .form-element input {
        width: 300px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #AAA;
    }
    .form-element textarea {
        height: 150px;
    }
    .form-element label {
        display: block;
        min-width: 200px;
        font-weight: bold;
    }
    .form-element input.submit {
        width: auto;
        padding: 5px 10px;
        float: right;
    }
    .form-element.checkbox input, 
    .form-element.checkbox label {
        display: inline;
        width: auto;
    }
    
.product-view {
    padding-right: 20px;
}

    .product-view .image {
        float: left;
        height: 400px;
        margin-right: 20px;
    }
    
    .product-view .description {
        width: 300px;
        float: left;
        margin-right: 20px;
    }
    
    .product-view .product-information {
        width: 250px;
        float: left;
        background: #F5f5f5;
        padding: 20px;
        border: 1px solid #333;
        border-radius: 2px;
        position: relative;
    }
        .product-view .product-information legend {
            position: absolute;
            top: -15px;
            left: 20px;
            background: #f5f5f5;
        }
    
        .product-view .product-information .price {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .product-view .product-information .product-information-row {
            margin-bottom: 5px;
        }
        
        .product-view .product-information .basket-add {
            margin-top: 20px;
        }
            .product-view .product-information .basket-add input {
                float: left;   
            }
            .product-view .product-information .basket-add #quantity {
                width: 25px;
                text-align: center;
                margin-right: 10px;
                padding: 5px;
                margin-top: 3px;
            }
        
        
/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7 !important;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9 !important;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
	color: #606060 !important;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
	color: #fef4e9 !important;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
	color: #faddde !important;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
	color: #d9eef7 !important;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
.rosy {
	color: #fae7e9 !important;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green {
	color: #e8f0de !important;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
.pink {
	color: #feeef5 !important;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
	color: #f3c3d9 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}

#teaser {
    width: 1060px;
    height: 250px;
    position: relative;
    padding: 0px 30px;
    margin-bottom: 30px;
}
    #teaser ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
        #teaser ul li {
            padding: 0px;
            position: absolute;
            height: 250px;
            width: 1120px;
        }
            #teaser ul li img {
                border-radius: 5px;
            }